*{
    box-sizing: border-box;
}

html {
    /*  max-width: 667px; BP 667px -> 668px 1023px -> 1024px  */
    margin: auto;
    width: 100vw;
    overflow-x: hidden;
}

body { 
    margin: auto;
    font-family : 'Oswald';
}

header {
    margin: 10% 14% 0 14%;
}

main {
    margin: 0 14% 10% 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

p {
    margin: 0;
    overflow: hidden; 
    text-overflow: ellipsis;
}


button{
    font-family : 'Oswald';
    border: none;
}

/* HEADER */

.header {
    height: 137px;
    background-color: #61787F;
    border: black 1px solid;
    display: flex;
    justify-content: center;
}

.header__logo {
    margin-top: 7px;
    height: 100%;
    width: auto;
}

.header__title {
    display: none
}



/* MEILLEUR FILM */

.best-film {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-title {
    height: 47px;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.best-film__article {
    aspect-ratio: 329/463;
    border: black 6px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.best-film__image-container {
    aspect-ratio: 298/241;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.best-film__description {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0; /* Prend l’espace restant */
    overflow: hidden;
}

.best-film__title{
    font-size: 32px;
    flex-shrink: 0;
    min-height: 47px;
}

.best-film__synopsis {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 8px;
}

.best-film__button {
    width: 90px;
    height: 40px;
    flex-shrink: 0;
    min-height: 40px;
    background-color: #FA0B0B;
    color: white;
    align-self: center;
    border-radius: 25px;
    cursor: pointer;
}

.best-film__button:hover {
    background-color: hsl(0, 100%, 72%);
    transition: background-color 0.3s;
}

/* CATEGORIES */

.category {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.category__film-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    overflow: hidden;
    max-height: initial;
    transition: max-height 1s ease-out;
}


.category__film {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    transition: transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-out;
    cursor: pointer;
}

.category__film:hover {
    opacity: 0.8;
}

/* Films supplémentaires cachés */
.category__film:not(.visible) {
    display: none;
    transition: opacity 0.3s ease-out, display 0.3s step-end; /* Step-end empêche un saut */
    display: none;
}

.category__film.visible {
    display: block;
}

.category__film-banner{
    position: absolute;
    margin-bottom: 30%;
    padding: 6% 5% 5% 8%;
    width: 100%;
    height: 40%;
    top: 13%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category__film-title {
    color: white;
    font-size: 24px;
    font-weight: 500;
    height: 46px;
}

.category__film-button {
    align-self: flex-end;
    width: 106px;
    height: 32px;
    border-radius: 25px;
    font-size: 14px;
    color: white;
    background-color: #2D2C2C;
    cursor: pointer;
}


.category__image-container {
    aspect-ratio: 1/1;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        object-fit: cover;
    }
    
}

.category__button {
    width: 100%;
    max-width: 214px;
    height: 40px;
    background-color: #FA0B0B;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    display: none;
    align-self: center;
    margin-top: 26px;
    cursor: pointer;
}

.category__button:hover {
    background-color: hsl(0, 100%, 72%);
    transition: background-color 0.3s;
}

.category__see-more.visible {
    display: block;
}

.category__see-less{
    display: none;
    align-self: center;
}

.category__see-less.visible {
    display: block;
}
/* DROPDOWN */

.category__selector {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;

    .section-title {
        display: none;
    }
}

.category__dropdown{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.category__dropdown-trigger {
    padding-left: 13px;
    padding-right: 29px;
    width: 86%;
    height: 68px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-size: 36px;     
    font-weight: 600;
}

.category__dropdown-trigger:hover{
    background: #E7E7E7;
}
    
.category__dropdown-selected {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}


.category__dropdown-options {
                display: none;
                position: absolute;
                top: 100%;
                width: 86%;
                background: white;
                list-style: none;
                margin: 0;
                padding: 0;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                transition: background 0.3s;
                z-index: 1;

                li {
                    display: flex;
                    align-items: center;
                    border: 1px solid black;
                    height: 60px;
                    font-size: 32px;
                    font-weight: 600;
                    padding-left: 10px;
                    white-space: nowrap;
                    overflow: hidden; 
                    text-overflow: ellipsis;
                }
}


.category__dropdown-options.active {
    display: block; /* Le menu apparaît quand il a la classe active */
}
            
.category__dropdown-option:hover {
    background: #E7E7E7;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow-y: auto; 
    padding: 20px;
    animation: fadeIn 0.2s;
}

.modal.closing {
    animation: fadeOut 0.2s;
}

.modal__content {
    background: white;
    width: 90vw;
    max-width: 600px;
    border: 6px solid black;
    padding: 28px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: modalTranslateIn 0.3s;
}

.modal__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__header-infos {
    font-weight: 600;
    flex: 1 1 auto;
    min-width: 0; /* Force l'ellipsis des flexbox */
    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.modal__title {
        line-height: 72px;
        font-size: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
}

.modal__realisator {
    font-size: 24px;
    font-weight: 300;
}

.modal__cross {
    align-self: flex-start;
    font-size: 32px;
    cursor: pointer;
    background-color: white;
    padding: 0;
}

.modal__realisator {
    margin-top: 24px;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal__description {
    margin-bottom: 16px;
}

.modal__image-wrapper {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.modal__image {
    width: 100%;
    height: auto;
}

.modal__info {
    list-style: none;
    padding: 0;
    text-align: left;
}

.modal__button-wrapper {
    display: none;
}

@keyframes modalTranslateIn {
    from {
        transform: translateY(20%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}